<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace = "UserMapper">
		
	<!-- 查询 -->
	<select id="selectUser" parameterType="PageData" resultType="PageData">
		select *
		from user_test
		where
		<if test="ip != null and ip != ''">
			ip = #{ip} and
		</if>
		<if test="user != null and user != ''">
			user = #{user} and
		</if>
		1=1
		
	</select>
	
	
</mapper>